name: Deploy to FTP

on:
  repository_dispatch:
    types: 
      - changecont

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Install deps
        run: npm i

      - name: Build proj
        run: npm run build
